* {
    margin:0;
    padding: 0;
  }
  
  
  .container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: green solid;
    background-color:"#03084a";
  }
  
  .react-monaco-editor-container{
    position: inherit !important;
    width: 100% !important;
  }
  
  .monaco-editor{
    position: inherit !important;
    width: 100% !important;
  }
  
  .overflow-guard{
   width: inherit !important;
  }
  
  
  .editor-container{
   display: flex;
   flex-direction: column;
   padding: .5rem;
   background-color:'#002984'
  }
  
  .editor-title{
   justify-content: space-between;
   background-color: brown;
   color: white;
   padding: .5rem;
   border-top-right-radius: .5rem;
   border-top-left-radius: .5rem; 
  }
  
  
  
  